@font-face {
  font-family: 'Arctic';
  src: url("./../assets/fonts/Arctic.otf");
}

/* DESGIN GENERAL */
html, body
{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 920px;
}

h1, h2, h3, .title
{
  font-family: 'Arctic';
  text-shadow: rgba(0,0,0,0.3) 0px 0px 0.5px;
}

input[type="button"]
{
  background-color: rgba(0,0,0,0);
  border:3px solid #164654;
  color: #164654;
  font-size: 1.3vw;
  padding: 5px;
}

input[type="button"]:active
{
  border:2px solid #164654;
}

/* SPECIALISATION DES ZONES */
div#background
{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("./../assets/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  /*filter: grayscale(100%);*/
}

div#over
{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient( 180deg,  rgba(72, 168, 198, 0.5), rgba(85, 238, 203,0.5) );
}

div#over #show
{
  position: absolute;
  width: 60%;
  height: 200px;
  left: 50%;
  top: 50%;
  margin-left:  -30%;
  margin-top: -100px;
  text-align: center;
}


div#over #show span
{
  display: block;
  font-family: "Arctic";
  color: #164654;
  font-size: 0.5vw;

}

div#over nav
{
  position: absolute;
  left: 10px;
  top: 10px;
}

div#over nav a
{

  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-family: Arial, sans-serif;
}

div#over #show h1
{
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 3vw;
}

div#over #show h2
{
  margin-top: 0px;
  color: #164654;
  font-size: 1.5vw;
}

div#slide
{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 75%;
    background-color: white;
}

div#slide div .icon
{
  /*background-color: #164654;*/
  width: 110px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: auto 100%;
  padding-left: 100px;
  vertical-align: middle;
  line-height: 100px;
  font-size: 20px;
  font-family: "Arctic";
  color: #164654;
}

div#slide #moves
{
    width: 100%;
    height: 100%;

}

div#slide #moves .icon
{
  background-image: url("./../assets/icons/book.svg");
}

div#slide #moves #viewport
{
    width: 100%;
    height: 90%;
}

div#slide #learn
{
    background-color:white;
    background-image: url("./../assets/learning.svg");
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: center;
    width: 100%;
    height: 100%;
}

div#slide #learn .icon
{
  background-image: url("./../assets/icons/diploma.svg");
}

div#slide #experience
{
    background-color:white;
    background-image: url("./../assets/experience.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    width: 100%;
    height: 100%;
}

div#slide #experience .icon
{
  background-image: url("./../assets/icons/shop.svg");
}

div#slide .slidesjs-previous, div#slide .slidesjs-next
{
  width: 50px;
  height: 50px;
  color: rgba(0,0,0,0);
  display: inline-block;
  background-image: url("./../assets/icons/arrow.svg");
  background-size: 100%;
}

div#slide .slidesjs-previous
{
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 10;
  transform: rotate(180deg);

}

div#slide .slidesjs-next
{
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 10;
}

div#slide .slidesjs-pagination
{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

div#slide .slidesjs-pagination li
{
  display: inline-block;
  margin-left: 10px;

}

div#slide .slidesjs-pagination li a
{
  display: inline-block;
  color: rgba(0,0,0,0);
  background-color: rgba(55,55,55,0.5);
  border-radius: 100px;
  width: 15px;
  height: 15px;
}

div#slide .slidesjs-pagination li a.active
{
  background-color: rgba(22, 70, 84,1);
}
