@import 'Roboto';
@import 'Open';
//Palette de couleur

//--TYPOGRAPHIE

//---Couleurs
$color-text-base:#E9E9E2; /*Blanc gris*/

//---Ecriture type gras, rappel des mots cl�s du programme
$color-text-high:#c6275c; /*Rose*/

//---Ecriture type lien 
$color-a-link : #5CC1D3; /*Actif : bleu monokai*/
$color-a-hover : #89EDFF; /*Survol : bleu plus clair*/
$color-a-visited :#2D7986; /*Visit� : bleu plus fonc�*/

//---Ecriture H1, rappel m�thode
$color-text-title : #91C710; /*Vert*/

//---Ecriture citation 
$color-text-quote : #DED469 ; /*Jaune*/

$color-text-special : #F59201;

//---Font

$font-base: 'Open Sans', sans-serif;
$font-title : 'Roboto Condensed', sans-serif;

//---Mise en forme

/*$line-height : ;
$font-size-defaut : ;
$font-size-h1 : ;*/

//--COULEUR ELEMENT

$color-base : #272822;
$color-dark : #161714;
$color-high : #49483E;

// Valeurs par défaut 

$default-margin : 10px;
$default-border-radius: 5px;

// Définitions des points de canvas

$min-height: 760px;


$break-width: 700px;

