// Définition de la palette de couleur 
$color-base: #333333;
$color-dark: #1E1E1E;
$color-light: #ADADAD;
$color-balance: #3F3F46;

$color-highlight: #EC1F6A;

// Définition des couleurs de typo
$color-text: white;

// Définition de la typo
$font-base:  Arial;

// Définition des valeurs par défaut
$default-margin: 10px;