//Palette de couleur

//--TYPOGRAPHIE

//---Couleurs
$color-text:#E9E9E2; /*Blanc gris*/

//---Ecriture type gras, rappel des mots clés du programme
$color-high:#A63258; /*Rose*/

//---Ecriture type lien 
$color-a-link : #5CC1D3; /*Actif : bleu monokai*/
$color-a-hover : #89EDFF; /*Survol : bleu plus clair*/
$color-a-visited :#2D7986; /*Visité : bleu plus foncé*/

//---Ecriture H1, rappel méthode
$color-h1 : #91C710; /*Orange*/

//---Ecriture citation 
$color : #DBD268 ; /*Jaune*/

//---Font

$font-base: "Open Sans";
$font-title : "Roboto";

//---Mise en forme

/*$line-height : ;
$font-size-defaut : ;
$font-size-h1 : ;*/

//--COULEUR ELEMENT

$color-base : #272822;
$color-dark : #161714;
$color-hight : #49483E;

