// Inclusion des composants et autres élements
@import 'Chart';


  
// Remise à zéro 
*
{        
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
}
 
html, body
{
    height: 100%;
}  
 