@import "./../Chart";

section.cursus
{
    clear:both;

    margin: $default-margin;
    
    width: 47%;

    h2
    {
        color : $color-dark;
    }

    div
    {
        background-color: $color-dark;
        max-width: 400px;
        height: 400px;
    }
}