@import "./../Chart";

section.cursus
{
    padding-left: 100px;

    margin: $default-margin;
    
    width: 47%;
    min-width: $default-min-width; // Arbitraire, empirique



    h2
    {
        color : $color-dark;
    }

    div
    {
        background-image: url("Assets/Cursus.png");
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 750px; // Taille de l'image
        height: 327px;

    }

    @media (max-width: 885px)
    {
        &
        {
            padding-left: 0;
            float: none;
            margin: auto;
            margin-top: $default-margin;
            
        }
    }
}