@import './../Chart';

section.description
{
    width: 50%; 
    min-width: $default-min-width; // Arbitraire, empirique


    margin: $default-margin;
    margin-top: $default-margin*2;
  
    font-size: 20px;
    color: $color-text;
    font-style: bold; 

    padding-left: 100px; 

    float: left; 

    @media (max-width: 885px)
    {
        &
        {
            padding-left: 0px;
            float: none;
            margin: auto;
        }
    }

} 