@import './../Chart';

header
{


    font-family: $font-title;

    margin: 2%;
    max-width: 80%;

    font-size: 26px;
    color: $color-text-base;
    text-transform: uppercase;
   /* margin-top: 60px;  /* truc bizarre, le header disparait sur html sur overfloçw-y auto */

    h1
    {
        display: inline;
        font-weight: normal;
        color: $color-text-title;  

        font-size: 35px;
        text-transform: none;
        

        &:before
        {
            content: "$(";
            color: $color-text-special;
        }      

        &:after
        {
            content: ")";
            color: $color-text-special;
        }
    }
}