@import './../Chart';
/**
 * Représente le bouton de menu fermé 
 **/
 div#Menu-close
 {
     display: block;

     position: fixed;
     top: $default-margin;
     right: $default-margin;
     z-index: 1;

     width: 50px;
     height: 50px;


     background-color: $color-high;
     background-image: url("Assets/Menu.svg");
     background-size: 70% 70%;
     background-repeat: no-repeat;
     background-position: center;

     transition: all ease 0.05s;

     &:hover
     {
         transform: rotate(90deg);
     }

 }