@import './../Chart';

section.projects
{

    float:right;
    margin: $default-margin;

    width: 40%;

    table 
    {
        border-collapse: collapse;
        width: 100%;
        tr
        {
            height: 100px;
        }

        tr:first-of-type
        {
            height: initial;
            background-color: rgba(0,0,0,0);
            td
            {
                color: $color-dark; 
            }
        }

        tr.project
        {
            background-color: $color-dark;
            border-collapse: collapse;
            transition: all 0.2s ease;

            td.detail
            {
                display: none;
            }

            td.name
            {
                font-size: 22px;
                padding-left: 100px + $default-margin;
                position: relative;
                img 
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width : 100px;
                }
            }

            &:hover
            {
                background-color: $color-highlight;
                transform: rotateX(360deg);

                td:first-of-type
                {
                    display: none;
                }

                td.detail
                {
                    display: table-cell;
                }

            }

            td
            {
                border-collapse: collapse;
                padding: $default-margin;
                color: $color-text; 
                overflow: hidden;

            }
        }
    }
}