@import './../Chart';

div#slide
{
    position: relative;

    display: table;
    table-layout: fixed;

    height: 100%;
    width: 100%;

    overflow-x: visible;

    

    ul
    {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        list-style: none;
        overflow-x: visible;
        

        white-space: nowrap;
    }

    .next 
    {
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
        height: 100%;
        /* background-color: red;*/

        z-index: 1;
    }

    .previous
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 100%;
        /*background-color: red;*/
    
        z-index: 1;

    }
}